ConsumiendoWCF_ASP/ConsumiendoWCF/Connected Services/ServiceHospital/ServiceHospital2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFServiceMedico.Class" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFServiceMedico.Class" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMedicamentoCLS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MedicamentoCLS" nillable="true" type="tns:MedicamentoCLS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMedicamentoCLS" nillable="true" type="tns:ArrayOfMedicamentoCLS" />
  <xs:complexType name="MedicamentoCLS">
    <xs:sequence>
      <xs:element minOccurs="0" name="IIdMedicamento" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="concentracion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Precio" type="xs:decimal" />
      <xs:element minOccurs="0" name="stock" type="xs:int" />
      <xs:element minOccurs="0" name="presentacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="habilitado" type="xs:int" />
      <xs:element minOccurs="0" name="iidFormaFarmaceutica" type="xs:int" />
      <xs:element minOccurs="0" name="nombreFormaFarmaceutica" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MedicamentoCLS" nillable="true" type="tns:MedicamentoCLS" />
  <xs:complexType name="ArrayOfFormaFarmaceuticaCLS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FormaFarmaceuticaCLS" nillable="true" type="tns:FormaFarmaceuticaCLS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFormaFarmaceuticaCLS" nillable="true" type="tns:ArrayOfFormaFarmaceuticaCLS" />
  <xs:complexType name="FormaFarmaceuticaCLS">
    <xs:sequence>
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="habilitado" type="xs:int" />
      <xs:element minOccurs="0" name="iidFormafarmaceutica" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FormaFarmaceuticaCLS" nillable="true" type="tns:FormaFarmaceuticaCLS" />
</xs:schema>