ConsumiendoWCF-WForm/ConsumiendoWCF-WForm/Connected Services/ServiceHospital/ServiceHospital.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ServiceHospital" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.1.104:8084/ServiceHospital.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.1.104:8084/ServiceHospital.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.1.104:8084/ServiceHospital.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServiceMedico.Class" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceHospital_listarMedicamento_InputMessage">
    <wsdl:part name="parameters" element="tns:listarMedicamento" />
  </wsdl:message>
  <wsdl:message name="IServiceHospital_listarMedicamento_OutputMessage">
    <wsdl:part name="parameters" element="tns:listarMedicamentoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceHospital_listarFormaceutica_InputMessage">
    <wsdl:part name="parameters" element="tns:listarFormaceutica" />
  </wsdl:message>
  <wsdl:message name="IServiceHospital_listarFormaceutica_OutputMessage">
    <wsdl:part name="parameters" element="tns:listarFormaceuticaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceHospital_recuperarMedicamento_InputMessage">
    <wsdl:part name="parameters" element="tns:recuperarMedicamento" />
  </wsdl:message>
  <wsdl:message name="IServiceHospital_recuperarMedicamento_OutputMessage">
    <wsdl:part name="parameters" element="tns:recuperarMedicamentoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceHospital_agregarYActualizarMedicamento_InputMessage">
    <wsdl:part name="parameters" element="tns:agregarYActualizarMedicamento" />
  </wsdl:message>
  <wsdl:message name="IServiceHospital_agregarYActualizarMedicamento_OutputMessage">
    <wsdl:part name="parameters" element="tns:agregarYActualizarMedicamentoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceHospital_eliminarMeidcamento_InputMessage">
    <wsdl:part name="parameters" element="tns:eliminarMeidcamento" />
  </wsdl:message>
  <wsdl:message name="IServiceHospital_eliminarMeidcamento_OutputMessage">
    <wsdl:part name="parameters" element="tns:eliminarMeidcamentoResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceHospital">
    <wsdl:operation name="listarMedicamento">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceHospital/listarMedicamento" message="tns:IServiceHospital_listarMedicamento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceHospital/listarMedicamentoResponse" message="tns:IServiceHospital_listarMedicamento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listarFormaceutica">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceHospital/listarFormaceutica" message="tns:IServiceHospital_listarFormaceutica_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceHospital/listarFormaceuticaResponse" message="tns:IServiceHospital_listarFormaceutica_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="recuperarMedicamento">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceHospital/recuperarMedicamento" message="tns:IServiceHospital_recuperarMedicamento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceHospital/recuperarMedicamentoResponse" message="tns:IServiceHospital_recuperarMedicamento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="agregarYActualizarMedicamento">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceHospital/agregarYActualizarMedicamento" message="tns:IServiceHospital_agregarYActualizarMedicamento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceHospital/agregarYActualizarMedicamentoResponse" message="tns:IServiceHospital_agregarYActualizarMedicamento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="eliminarMeidcamento">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceHospital/eliminarMeidcamento" message="tns:IServiceHospital_eliminarMeidcamento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceHospital/eliminarMeidcamentoResponse" message="tns:IServiceHospital_eliminarMeidcamento_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceHospital" type="tns:IServiceHospital">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="listarMedicamento">
      <soap:operation soapAction="http://tempuri.org/IServiceHospital/listarMedicamento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarFormaceutica">
      <soap:operation soapAction="http://tempuri.org/IServiceHospital/listarFormaceutica" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recuperarMedicamento">
      <soap:operation soapAction="http://tempuri.org/IServiceHospital/recuperarMedicamento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="agregarYActualizarMedicamento">
      <soap:operation soapAction="http://tempuri.org/IServiceHospital/agregarYActualizarMedicamento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarMeidcamento">
      <soap:operation soapAction="http://tempuri.org/IServiceHospital/eliminarMeidcamento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceHospital">
    <wsdl:port name="BasicHttpBinding_IServiceHospital" binding="tns:BasicHttpBinding_IServiceHospital">
      <soap:address location="http://192.168.1.104:8084/ServiceHospital.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>